.header-container {
  margin-top: 100px;
  position: relative;
}

.header-container:before {
  position: absolute;
  content: "";
  top: 45px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #E8EFFA;
  z-index: 1;
}

.header-container h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

.header-container img {
  width: 310px;
}

.header-container span {
  margin-top: 20px;
  font-size: 29px;
}

.hero-collections {
  margin: 80px 0 100px;
}

.hero-collections__card-ctn {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero-collections__card-ctn {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .hero-collections__card-ctn {
    width: 970px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero-collections__card-ctn {
    width: 1050px;
  }
}

.hero-collections__card {
  position: relative;
  border: 3px solid black;
  border-radius: 7px;
  background-color: #E8EFFA;
  margin: 40px auto;
  background-size: cover;
  height: 240px;
  width: 310px;
}
@media screen and (min-width: 768px) {
  .hero-collections__card {
    height: 200px;
    width: 240px;
  }
}
@media screen and (min-width: 900px) {
  .hero-collections__card {
    height: 230px;
    width: 290px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-collections__card {
      height: 270px;
      width: 330px;
  }
}

.hero-collections__card-title {
  font-size: 31px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  opacity: 1;
  transition: opacity 0.3s;
  color: #fff;
}

.hero-collections__card:hover > .hero-collections__card-title,
.hero-collections__card:hover > .hero-collections__card--bg {
  opacity: 0;
  transition: none;
}

.hero-collections__card--bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s;
}

.hero-collections__card--hover {
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: none;
}

.hero-collections__card:hover > .hero-collections__card--hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.parallax {
  position: absolute !important;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10000;
}

.parallax-one {
  top: 100px;
  left: -190px;
  height: 750px;
  width: 320px;}
  @media screen and (min-width: 490px) {
    .parallax-one {
      height: 900px;}
  }
  @media screen and (min-width: 600px) {
    .parallax-one {
      top: 70px;
      left: -160px;}
  }
  @media screen and (min-width: 768px) {
    .parallax-one {
      height: 900px;
      top: -39px;
      left: -200px;}
  }
  @media screen and (min-width: 1024px) {
    .parallax-one {
      top: 20px;}
  }
  @media screen and (min-width: 1100px) {
    .parallax-one {
      left: -160px;}
  }
  @media screen and (min-width: 1200px) {
    .parallax-one {
      left: -130px;}
  }


.parallax-two {
  top: 180px;
  right: -234px;
  height: 700px;
  width: 320px;}
  @media screen and (min-width: 490px) {
    .parallax-two {
      height: 880px;
      right: -174px;}
  }
  @media screen and (min-width: 600px) {
    .parallax-two {
      top: 50px;
      right: -114px;}
  }
  @media screen and (min-width: 768px) {
    .parallax-two {
      top: -10px;
      right: -170px;
      height: 808px;}
  }
  @media screen and (min-width: 1024px) {
    .parallax-two {
      height: 940px;}
  }
  @media screen and (min-width: 1100px) {
    .parallax-two {
      right: -150px;}
  }
  @media screen and (min-width: 1200px) {
    .parallax-two {
      right: -140px;}
  }