.collection-grid__title {
  text-align: center;
  font-size: 34px;
  margin-bottom: 25px;
}

.collection-grid__grid-ctn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 0;
  margin: 0 2.5%;
}
@media screen and (min-width: 400px) {
  .collection-grid__grid-ctn {
    margin: 0 auto;
    width: 385px;
  }
}
@media screen and (min-width: 768px) {
  .collection-grid__grid-ctn {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 750px;
  }
}
@media screen and (min-width: 1024px) {
  .collection-grid__grid-ctn {
    gap: 10px 20px;
    width: 850px;
  }
}

.collection-grid__grid-item {
  border: 2px solid #000;
  border-radius: 10px;
  height: 470px;
  background-color: #FBF9F9;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .collection-grid__grid-item {
    height: 500px;
  }
}

.collection-grid__grid-item:hover {
  background-color:rgba(14, 14, 14, 0.7);
}

.collection-grid__img-ctn {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (min-width: 1024px) {
  .collection-grid__img-ctn {
    height: 430px;
  }
}


.collection-grid__img-ctn > img {
  height: 70%;
  margin: 15% 0;
}

.collection-grid__grid-title {
  text-align: center;
  margin: 0;
  font-size: 28px;
}